<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title></title>
</head>

<body>
  <nav>
    <h4>Register</h4>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li class="cart">
         <a href="/cart">
           <ion-icon name="basket"></ion-icon>Cart <span>0</span>
         </a> </li>

    </ul>
  </nav>


            Teamwork shopppp

            <div class="container">
              {{#each product}}

              <div class="image">
                <img src="/{{this.product_id}}.jpeg" alt="product1">

                <h5>{{this.name}}</h3>
                <!-- <p>{{this.description}}</p> -->
                <h3>£{{this.price}}</h3>
                <a class="add-cart cart1"href="#">Add to Cart</a>

              </div>

              {{/each}}
             </div>

             <script type="text/javascript">
               let carts = document.querySelectorAll('.add-cart');


               let products = [
                 {{#each product}}
                 {
                   id: {{this.product_id}},
                   name: "{{this.name}}",
                   price: {{this.price}},
                   inCart: 0
               },
                 {{/each}}

               ];
                              //console.log(products);
               for (let i = 0; i < carts.length; i++) {
                 carts[i].addEventListener('click', () => {
                   cartNumbers(products[i]);
                   totalCost(products[i]);
                 })
               }

               function onLoadCartNumbers() {
                 let productNumbers = localStorage.getItem('cartNumbers');

                 if (productNumbers) {
                   document.querySelector('.cart span').textContent = productNumbers;
                 }
               };

               function cartNumbers(product) {
                // console.log("The product clicked is", product);
                 let productNumbers = localStorage.getItem('cartNumbers');

                 productNumbers=parseInt(productNumbers);

                 if (productNumbers) {
                   localStorage.setItem('cartNumbers', productNumbers + 1);
                   document.querySelector('.cart span').textContent = productNumbers + 1;
                 } else {
                   localStorage.setItem('cartNumbers', 1);
                   document.querySelector('.cart span').textContent = 1;
                 }
                 setItems(product);
               };

               function setItems(product) {
                 let cartItems = localStorage.getItem('productsInCart');
                 cartItems = JSON.parse(cartItems);
                 console.log("asfafasf", cartItems);
                 // console.log('Inside of the items function');
                 // console.log("my product is ", product);
                 if (cartItems != null) {

                   if (cartItems[product.name] == undefined) {
                     cartItems = {
                       ...cartItems,
                       [product.name]: product
                     }

                   }
                   cartItems[product.name].inCart += 1;
                 }else {
                   product.inCart = 1;

                    cartItems = {
                     [product.name]:product
                   }
                 }

                 localStorage.setItem('productsInCart', JSON.stringify(cartItems))
               }

               function totalCost(product) {
                 //console.log("the product price is ", product.price);
                 let cartCost = localStorage.getItem('totalCost');
                // cartCost = parseFloat(cartCost);

                 //console.log("my cart cost is", cartCost);
               //console.log(typeof cartCost);

                 if (cartCost != null) {
                   cartCost = parseInt(cartCost);

                   localStorage.setItem('totalCost', cartCost + product.price)
                 }else {
                   localStorage.setItem('totalCost', product.price)

                 }


               }

               

               onLoadCartNumbers();
               displayCart();
             </script>



  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>
